.white-text {
    color: #FFFFFF;
}

.black-text-p {
    color: #434343;
}

.black-text-s {
    color: #AAAAA8;
}

.primary-bg {
    background-color: #007bff;
}

.secondary-bg {
    background-color: #6299F4;
}

.white-bg {
    background-color: #FFFFFF;
}

.black-bg {
    background-color: #434343;
}
